body {
  font-family: 'Montserrat', sans-serif;
  background-color: #323232;
  color: rgb(214, 214, 214);
}	


p {	
  display: inline;
}


.cell {	
display: inline-block;
background-color: #14888b;
color: rgb(211, 211, 211);
border-top-left-radius: .25rem;
}

.btn-primary {
  background-color: #14888b;
  border-color: #14888b;
}

.btn-primary:hover, .btn-primary:focus {
  background-color:#0c5c5f;
  border-color: #0c5c5f;
  box-shadow: none;
}

.btn-danger {
  background-color: #7e0b22;
  border-color: #7e0b22;
}

.btn-danger:hover,.btn-danger:focus {
  background-color: #61091a;
  border-color: #61091a;
}


.jumbotron, .card {
  background-color: #212121;
}

.navbar {
  background-color: #323232;
}

i {
  color: #212121;
}

i:hover {
  color: #141414;
} 	} 